In [1]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import RobustScaler

from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import Ridge
from sklearn.svm import SVR
from sklearn.linear_model import SGDRegressor
from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_squared_error

In [2]:
diamonds_test = pd.read_csv('./data/diamonds_test.csv')
diamonds_test

,id,carat,cut,color,clarity,depth,table,x,y,z,city
0,0,0.79,Very Good,F,SI1,62.7,60.0,5.82,5.89,3.67,Amsterdam
1,1,1.20,Ideal,J,VS1,61.0,57.0,6.81,6.89,4.18,Surat
2,2,1.57,Premium,H,SI1,62.2,61.0,7.38,7.32,4.57,Kimberly
3,3,0.90,Very Good,F,SI1,63.8,54.0,6.09,6.13,3.90,Kimberly
4,4,0.50,Very Good,F,VS1,62.9,58.0,5.05,5.09,3.19,Amsterdam
...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.57,Ideal,E,SI1,61.9,56.0,5.35,5.32,3.30,Amsterdam
13481,13481,0.71,Ideal,I,VS2,62.2,55.0,5.71,5.73,3.56,New York City
13482,13482,0.70,Ideal,F,VS1,61.6,55.0,5.75,5.71,3.53,Tel Aviv
13483,13483,0.70,Very Good,F,SI2,58.8,57.0,5.85,5.89,3.45,Surat
13484,13484,0.40,Ideal,I,VVS2,62.4,55.0,4.70,4.73,2.94,New York City

In [3]:
diamonds_test = diamonds_test.drop('depth', axis=1)

In [4]:
diamonds_test = diamonds_test.drop('id', axis=1)

In [5]:
city_map = {
    'Dubai': 'Asia',
    'Kimberly': 'Africa',
    'Las Vegas': 'America',
    'Tel Aviv': 'Asia',
    'Amsterdam': 'Europe',
    'Zurich': 'Europe',
    'Antwerp': 'Europe',
    'Madrid': 'Europe',
    'Paris': 'Europe',
    'Surat': 'Asia',
    'Luxembourg': 'Europe',
    'London': 'Europe',
    'New York City': 'America'
}

In [6]:
diamonds_test['continent'] = diamonds_test['city'].map(city_map)

In [7]:
diamonds_test = diamonds_test.drop('city', axis=1)

In [8]:
diamonds_test['clarity'] = diamonds_test['clarity'].replace(['IF'], ['VVSI']).replace(['VVS1'], ['VVSI']).replace(['VVS2'], ['VVSI'])
diamonds_test['clarity'] = diamonds_test['clarity'].replace(['VS1'], ['VSI']).replace(['VS2'], ['VSI'])
diamonds_test['clarity'] = diamonds_test['clarity'].replace(['SI1'], ['SI']).replace(['SI2'], ['SI'])

In [9]:
diamonds_test_dummy = pd.get_dummies(diamonds_test, drop_first=True, dtype=float)

In [10]:
diamonds_test_dummy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13485 entries, 0 to 13484
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   carat              13485 non-null  float64
 1   table              13485 non-null  float64
 2   x                  13485 non-null  float64
 3   y                  13485 non-null  float64
 4   z                  13485 non-null  float64
 5   cut_Good           13485 non-null  float64
 6   cut_Ideal          13485 non-null  float64
 7   cut_Premium        13485 non-null  float64
 8   cut_Very Good      13485 non-null  float64
 9   color_E            13485 non-null  float64
 10  color_F            13485 non-null  float64
 11  color_G            13485 non-null  float64
 12  color_H            13485 non-null  float64
 13  color_I            13485 non-null  float64
 14  color_J            13485 non-null  float64
 15  clarity_SI         13485 non-null  float64
 16  clarity_VSI        13485 non-null  float64
 17  clarity_VVSI       13485 non-null  float64
 18  continent_America  13485 non-null  float64
 19  continent_Asia     13485 non-null  float64
 20  continent_Europe   13485 non-null  float64
dtypes: float64(21)
memory usage: 2.2 MB

In [12]:
robust_scaler = RobustScaler()
robust_diamonds_test = robust_scaler.fit_transform(diamonds_test_dummy)
robust_diamonds_test

array([[ 0.140625  ,  1.        ,  0.06666667, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.78125   ,  0.        ,  0.61666667, ...,  0.        ,
         1.        , -1.        ],
       [ 1.359375  ,  1.33333333,  0.93333333, ...,  0.        ,
         0.        , -1.        ],
       ...,
       [ 0.        , -0.66666667,  0.02777778, ...,  0.        ,
         1.        , -1.        ],
       [ 0.        ,  0.        ,  0.08333333, ...,  0.        ,
         1.        , -1.        ],
       [-0.46875   , -0.66666667, -0.55555556, ...,  1.        ,
         0.        , -1.        ]])

In [13]:
model = LinearRegression()

In [ ]:
model.fit(X_train)